{% extends 'base.html' %}


{% load static %}

    {% block body %}
    <div class="container-fluid pt-5">
        <div class="row px-xl-10">
            <div class="col-lg-5 pb-5">
                <div>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="font-weight-medium mb-3">Products</h5>
                            {% for c in check_c %}
                            <div class="d-flex justify-content-between">
                                <p>{{c.product.desc}}</p>
                                <p>{{c.product.price}}</p>
                            </div>
                            {% endfor %}
                            <hr class="mt-0">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Subtotal</h6>
                                <h6 class="font-weight-medium"><span id="amount">{{amount}}</span></h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Shipping</h6>
                                <h6 class="font-weight-medium">$80</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold"><span id="totalamt">{{totalamt}}</span></h5>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 pay" id="checkout-btn">Place Order</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>




{% endblock %}