{% extends 'base.html' %}


{% load static %}

    {% block body %}
    <div class="container-fluid pt-5">
        <div class="row px-xl-10">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <h4 class="text-center">Your cart</h4><hr>
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Your Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for c in carts %}
                        <tr id="remove">
                            <td class="align-middle"><img src="{{c.product.image.url}}" alt="" style="width: 50px;">{{c.product.desc}}</td>
                            <td class="align-middle">{{c.product.price}}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" for="quantity" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a class="btn btn-sm btn-primary btn-minus" c_id={{c.product.id}}>
                                        <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <span class="form-control form-control-sm bg-secondary text-center" id="quantity">{{c.quantity}}</span>
                                    <div class="input-group-btn">
                                        <a class="btn btn-sm btn-primary btn-plus" c_id={{c.product.id}}>
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">{{c.product.price}}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary remove" c_id={{c.product.id}}><i class="fa fa-times"></i></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                        <div class="card-footer border-secondary bg-transparent">
                            <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 pay" id="checkoutbtn">Place Order</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>




{% endblock %}